*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background: lightseagreen;
    width: 100%;
    height: 100vh;
    padding: 30px;
}
.container{
    background: khaki;
    width: 90%;
    max-width: 550px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.container h1{
    font-size: 25px;
    color: rgb(149, 99, 33);
    font-weight: 600;
    border-bottom: 1px solid rgb(83, 130, 13);
    padding-bottom: 10px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: rgb(198, 123, 18);
    font-weight: 600;
}
.btn{
    background:white;
    color: rgb(6, 47, 71);
    font-weight: 500;
    width: 100%;
    border: 1px solid green;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: rgb(15, 16, 16);
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: lawngreen;
    color: white;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: none;
}



.correct{
    background: rgb(46, 194, 9);
}
.incorrect{
    background: rgb(213, 32, 32);
}






